<header class="bg-gray-50">
    <div class="container px-4 md:px-6">
        <nav class="flex flex-wrap items-center justify-between py-2">
            <a routerLink="/" class="flex py-1.5 mr-4">
                <img ngSrc="logo.png" i18n-alt="@@app.title" alt="Valhalla" width="30" height="30" class="inline-block">
                <span class="text-xl pl-3" i18n="@@app.title">Valhalla</span>
            </a>
            <button type="button" class="js-dropdown md:hidden border rounded" data-dropdown-keepopen="true"
                    i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <div class="space-y-1.5 my-2.5 mx-4">
                    <div class="w-6 h-0.5 bg-gray-500"></div>
                    <div class="w-6 h-0.5 bg-gray-500"></div>
                    <div class="w-6 h-0.5 bg-gray-500"></div>
                </div>
            </button>
            <div class="hidden md:block flex grow md:grow-0 justify-end basis-full md:basis-auto pt-3 md:pt-1 pb-1" id="navbarToggle">
                <ul class="flex">
                    <li>
                        <a routerLink="/" class="block text-gray-500 p-2" i18n="@@navigation.home">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
